service: serveless

plugins:
  - serverless-offline

provider:
  name: aws
  runtime: nodejs12.x

functions:
  hello:
    handler: functions/handler.hello
  reuniao_agendar:
    handler: functions/reuniao_agendar.handler
    events:
      - http:
          path: reuniao/agendar
          method: post
          integration: lambda
          request: ${file(./schemas/reuniao_agendar.request.yml)}
          response: ${file(./schemas/reuniao_agendar.response.yml)}
  reuniao_alterar:
    handler: functions/reuniao_alterar.handler
    events:
      - http:
          path: reuniao/alterar
          method: put
          integration: lambda
          request: ${file(./schemas/reuniao_alterar.request.yml)}
          response: ${file(./schemas/reuniao_alterar.response.yml)}
