service: meetings

plugins:
  - serverless-offline

custom:
  dev:
    hostname: db-serverless.cluster-chai0zoj30bj.us-east-1.rds.amazonaws.com
    database: meetings
    username: admin
    password: db.12345
  vpc:
    dev:
      securityGroupIds:
        - sg-72aa970a
      subnetIds:
        - subnet-1714991b
        - subnet-3872e260
        - subnet-5120696c
        - subnet-beaecddb

provider:
  name: aws
  runtime: nodejs12.x
  stage: ${opt:stage, 'dev'}
  memorySize: 128
  timeout: 10
  environment:
    HOSTNAME: ${self:custom.${self:provider.stage}.hostname}
    DATABASE: ${self:custom.${self:provider.stage}.database}
    USERNAME: ${self:custom.${self:provider.stage}.username}
    PASSWORD: ${self:custom.${self:provider.stage}.password}
    LAYER: /opt
  vpc: ${self:custom.vpc.${self:provider.stage}}

functions:
  reuniao_agendar:
    handler: functions/reuniao_agendar.handler
    layers:
      - { Ref: ModelsLayerLambdaLayer }
    events:
      - http:
          path: reuniao/agendar
          method: post
          integration: lambda
          request: ${file(./schemas/reuniao_agendar.request.yml)}
          response: ${file(./schemas/reuniao_agendar.response.yml)}
  reuniao_alterar:
    handler: functions/reuniao_alterar.handler
    layers:
      - { Ref: ModelsLayerLambdaLayer }
    events:
      - http:
          path: reuniao/alterar
          method: put
          integration: lambda
          request: ${file(./schemas/reuniao_alterar.request.yml)}
          response: ${file(./schemas/reuniao_alterar.response.yml)}
  reuniao_relatorio:
    handler: functions/reuniao_relatorio.handler
    layers:
      - { Ref: ModelsLayerLambdaLayer }
    events:
      - http:
          path: reuniao/relatorio/{user}/{ano}/{mes}
          method: get
          integration: lambda
          request: ${file(./schemas/reuniao_relatorio.request.yml)}
          response: ${file(./schemas/reuniao_relatorio.response.yml)}
  reuniao_listar:
    handler: functions/reuniao_listar.handler
    layers:
      - { Ref: ModelsLayerLambdaLayer }
    events:
      - http:
          path: reuniao/listar/{ano}/{mes}
          method: get
          integration: lambda
          cors: true
          request: ${file(./schemas/reuniao_listar.request.yml)}
          response: ${file(./schemas/reuniao_listar.response.yml)}
  reuniao_excluir:
    handler: functions/reuniao_excluir.handler
    layers:
      - { Ref: ModelsLayerLambdaLayer }
    events:
      - http:
          path: reuniao/excluir
          method: delete
          integration: lambda
          request: ${file(./schemas/reuniao_excluir.request.yml)}
          response: ${file(./schemas/reuniao_excluir.response.yml)}

layers:
  modelsLayer:
    path: ./layer/
    name: ${self:provider.stage}-cfz-layer
    compatibleRuntimes:
      - nodejs12.x

# package:
#   individually: true